@import "@/styles/variables.css";

.detail {
    padding-top: var(--headerHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 10rem;

    .container {
        width: 80%;
        max-width: 1200px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        .back {
            position: relative;
            top: 2rem;
            transform: translateY(-50%);
            left: 0;
            padding: 15px 15px;
            border-radius: 15px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: all 100ms ease;
            width: fit-content;
            align-self: flex-end;

            &:hover {
                background-color: var(--color1);
            }
        }

        .back::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 3px 0 0 0;
            transform: translate(-40%, -50%) rotate(-45deg);
            width: 12px;
            height: 12px;
            border-top: 3px solid rgb(50, 50, 50);
            border-left: 3px solid rgb(50, 50, 50);
            z-index: 2;
        }

        .titleRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
        }

        .title {
            text-align: left;
            font-size: 1.4rem;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%; 
        }

        .iconButtons {
            display: flex;
            gap: 8px;
            position: relative;
            z-index: 10;
        }

        .iconButton {
            background-color: transparent;
            border: none;
            border-radius: 4px;
            padding: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
        }

        .iconButton:hover {
            background-color: transparent;
        }

        .heartIcon {
            color: #444;
            transition: color 0.2s ease, fill 0.2s ease;
            fill: transparent;
        }

        .favoriteActive {
            color: #d61f2f;
            fill: #e63946;  
        }

        .sharePopup {
            position: absolute;
            width: 120px;
            top: 40px;
            right: 0;
            background: white;
            border-radius: 8px;
            padding: 8px;
            display: flex;
            gap: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .shareButton {
            background: none;
            border: none;
            cursor: pointer;
            width:20px;
        }
        .facebook {
            width:20px;
        }

        .whatsapp {
            width:20px;
        }
        .x  {
            background: none;
            border: none;
            cursor: pointer;
            object-fit: contain;
            width:35px;
            height: 20px;
        }

        .whatsapp { color: green; }
        .instagram { color: #E1306C; }
        .facebook { color: #1877F2; }

        .imagesContainer {
            width: 100%;
            aspect-ratio: 2 / 1;
            display: flex;
            flex-direction: row;
            border-radius: 0.7rem;
            overflow: hidden;
            gap: 0.5rem;
            position: relative;

            .gallery {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 0.5rem;
                width: 50%;
                height: 100%;

                .galleryImg {
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    aspect-ratio: 1 / 1;
                    transition: all 100ms ease;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }

            .mainImage {
                width: 50%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transition: all 100ms ease;

                &:hover {
                    filter: brightness(0.8);
                }
            }

            .showAllImagesBtn {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;
                padding: 0.4rem 0.8rem;
                height: 1.7rem;
                border-radius: 0.4rem;
                background-color: var(--color6);
                border: 1px solid var(--color2);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 0.8rem;
                font-weight: 500;

                &:hover {
                    background-color: var(--color1);
                }
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .info {
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .title {
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    .text {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }

                .featuresContainer {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1rem;
                    background-color: var(--color3);

                    &::before {
                        content: "";
                        display: block;
                        height: 1.5px;
                        width: 80%;
                        background-color: #b5b5b5;
                        margin-bottom: 0.5rem;
                    }

                    .title {
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    .features {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        max-width: max-content;
                        row-gap: 0.7rem;
                        column-gap: 0.5rem;

                        .feature {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5rem;

                            .text {
                                font-size: 0.8rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .sideContainer{
                display: flex;
                flex-direction: column;
                width: 35%;
                gap: 2rem;

                .priceContainer {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    height: max-content;
                    background-color: white;
                    border-radius: 0.7rem;
                    padding: 1rem;
                    gap: 1.5rem;
                    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2);

                    .price {
                        font-size: 0.9rem;
                        font-weight: 400;

                        .value {
                            font-size: 1.1rem;
                            font-weight: 700;
                        }
                    }
                }
                .reserve{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #ffffff;
                    padding: 1.5rem 0.5rem;
                    width: 100%;
                    border-radius: 0.7rem;
                    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.2);

                    .legend {
                        display: flex;
                        gap: 1rem;
                        margin-top: 0.5rem;

                        .legendItem {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            font-size: 0.9rem;

                            .availableLegend {
                                width: 15px;
                                height: 15px;
                                background-color: white;
                                border: 1px solid #ddd;
                                border-radius: 50%;
                            }

                            .unavailableLegend {
                                width: 15px;
                                height: 15px;
                                background-color: var(--color1);
                                border: 1px solid #ddd;
                                border-radius: 50%;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }

    .politicsContainer {
        width: 100%;
        padding: 2rem 21rem;
        position: relative;
      }
      
      /* Línea decorativa */
      .politicsContainer::before {
        content: "";
        display: block;
        height: 2.5px;
        width: 100%;
        background-color: #b5b5b5;
        margin-bottom: 0.5rem;
      }

      /* Título */
      .title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
      }
      
      /* Grid con dos columnas: izquierda y derecha */
      .politics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
      
      /* Contenedor de cada columna */
      .politicsColumn {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

      }
      
      /* Caja individual de política */
      .politicItem {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2);
        border-radius: 0.7rem;
      }
      
      .politicsTitle {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      
    .loadingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 2rem;

        .loading {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--color1);
        }
    }

    .notFound {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--color1);
        margin-top: 2rem;
        display: flex;

        .notFoundText {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--color1);
        }
    }

    @media (max-width: 768px) {
        padding-top: var(--headerHeightMobile);

        .container {
            margin-top: 1rem;
            width: 90%;

            .back {
                top: 1rem;
            }

            .content {
                margin-top: 0rem;

                flex-direction: column-reverse;

                .info {
                    width: 100%;

                    .description {
                        .title {
                            margin-top: 1.5rem;
                            font-size: 1.3rem;
                        }

                        .text {
                            font-size: 1rem;
                        }
                    }

                    .featuresContainer {
                        .title {
                            font-size: 1.3rem;
                        }

                        .features {
                            .feature {
                                .text {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                .reserveContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}
