.detallesCabina{
margin: 105px auto;
width: 95%;
padding-top: 15px;
}
.detalles{
    display: flex;
    gap: 15px;
    padding: 15px 0px;
}
.imgproducto{
width: 100%;
height: 100%;
border-radius: 6px;


}
.titulo{
    margin: 7px 0px;
    font-size: xx-large;
}
.contenedortitulo{
    display: flex;
    justify-content: space-between;
    margin: 7px 0px;
    align-items: center;
}