.main {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: var(--headerHeight);
  padding: 20px 60px;
  background-color: var(--color6);
}
.container {
  width: 50%;
  flex-grow: 1;
  padding: 30px 50px;
  background-color: #FFF;
  border-radius: 35px;
  border: 1px solid rgb(255, 224, 201);
  box-shadow: 0px 0px 13px 0px rgb(226, 208, 191);
  min-height: 500px;
  margin-left: 8%;
}
.title{
  text-align: center;
  color: #565656;
  margin-bottom: 30px;
}

.text{
  font-size: 1.2rem;
  color: #565656;
}

.mobileWarning {
  display: none;
  text-align: center;
  padding: 40px;
  color: #a94442;
  border-radius: 10px;
  margin-top: var(--headerHeightMobile);
  font-weight: bold;
}
.warning {
  background-color: #ffcccb;
  border: 1px solid #a94442;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .main {
    display: none;
  }

  .mobileWarning {
    display: block;
  }
}
