html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FCECDD;
}

.wrapper {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center 120px;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 150px 650px 10px 650px;
}

.wrapper .formulario {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 3px solid #dda15e;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

.wrapperSecundario {
    padding: 15px 20px;
    border-left: 2px solid #dda15e;
    border-right: 2px solid #dda15e;
    border-bottom: 2px solid #dda15e;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 80%;
    max-width: 350px;
}

.inputContainer {
    position: relative;
    margin: 25px 0;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.label {
    position: absolute;
    top: -8px;
    left: 15px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #bc6c25;
    z-index: 2;
}

.inputBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fefae0;
    margin: 10px 0;
    border: 2px solid #dda15e;
    border-radius: 0px;
    padding: 0 15px;
    position: relative;
}

.inputBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fefae0;
    margin: 10px 0;
    border-left: 2px solid #dda15e;
    border-right: 2px solid #dda15e;
    border-bottom: 2px solid #dda15e;
    border-top: 2px solid #dda15e;
    padding: 0 15px;
    position: relative;
}


.input {
    flex-grow: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #070606;
    padding-left: 10px;
}

.icon {
    font-size: 18px;
    color: #606c38;
    margin-left: 10px;
}

.inputBox:hover {
    border-color: #bc6c25;
}

.button {
    width: 100%;
    height: 45px;
    background: #070606e0;
    border: 2px solid #dda15e;
    border-radius: 0px;
    cursor: pointer;
    color:white;
    transition: background 0.3s;
}

.button:hover {
    border-color: #bc6c25;
    background: #000000;
}

.rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 0 15px;
}

.registerLink {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.registerLink a {
    color: #353434;
    font-weight: bold;
}

.registerLink a:hover {
    text-decoration: underline;
}

.loginMethodsContainer {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    margin-top: 10px;
  }
  
  .loginMethods {
    list-style: none;
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
  }
  
  .loginMethods li {
    display: inline-block;
  }
  
  .loginIcon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .loginIcon:hover {
    transform: scale(1.1);
  }

@media (max-width: 1440px) {
    .wrapper {
        padding: 300px 10px 0px 10px;
    }

    .formulario {
        width: 1080px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 300px 10px 0px 10px;
    }

    .formulario {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 30px 10px;
    }


    .label {
        font-size: 12px;
        left: 10px;
    }

    .inputBox {
        height: 45px;
        padding: 0 10px;
    }

    .button {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 130px 10px 0px 10px;
    }


    .label {
        font-size: 12px;
        left: 10px;
    }

    .inputBox {
        height: 45px;
        padding: 0 10px;
    }

    .button {
        height: 40px;
    }
}