html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FCECDD;
}

.wrapper {
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center 120px;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 200px 650px 10px 650px;
}

.wrapper .formulario {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.wrapperSecundario {
    padding: 15px 20px;
    border-left: 2px solid #dda15e;
    border-right: 2px solid #dda15e;
    border-bottom: 2px solid #dda15e;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 80%;
    max-width: 350px;
}

.inputContainer {
    position: relative;
    margin: 25px 0;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.label {
    position: absolute;
    top: -8px;
    left: 15px;
    background: white;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: #88A035;
    z-index: 2;
}

.inputBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fefae0;
    margin: 10px 0;
    border: 2px solid #dda15e;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
}

.inputBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #ffffff;
    margin: 10px 0;
    border-left: 2px solid #8E8E8E;
    border-right: 2px solid #8E8E8E;
    border-bottom: 2px solid #8E8E8E;
    border-top: 2px solid #8E8E8E;
    padding: 0 15px;
    position: relative;
}

.input {
    flex-grow: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #070606;
    padding-left: 10px;
}

.input::placeholder {
    color: #aaa;
  }
  
  .inputError::placeholder {
    font-size: 12px;
    color: red;
  }

.icon {
    font-size: 18px;
    color: #606c38;
    margin-left: 10px;
}

.button {
    width: 100%;
    height: 45px;
    background: #606c38;
    border: 2px solid #8E8E8E;
    border-radius: 40px;
    cursor: pointer;
    color:white;
    transition: background 0.3s;
}

.button:hover {
    border-color: #88A035;
    background: #4a532b;
    ;
}

.rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 0 15px;
}

.loginLink {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.loginLink a {
    color: #88A035;
    font-weight: bold;
}

.loginLink a:hover {
    text-decoration: underline;
}

@media (max-width: 2880) {
    .wrapper {
        padding: 150px 10px 10px 10px;
        height:600px;
    }


    .formulario {
        width: 1080px;
    }
}

@media (max-width: 1440px) {
    .wrapper {
        padding: 300px 10px 0px 10px;
    }

    .formulario {
        width: 1080px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 300px 10px 0px 10px;
        height: 468px;
    }

    .formulario {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 300px 10px 0px 10px;
        height: 480px;
    }


    .label {
        font-size: 12px;
        left: 10px;
    }

    .inputBox {
        height: 45px;
        padding: 0 10px;
    }

    .button {
        height: 40px;
    }
}