.tableContainer {
  width: 100%;
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;

  th,
  td {
    border-bottom: 1px solid rgb(208, 208, 208);
    padding: 10px;
    text-align: left;
    line-height: 1.5rem;
  }

  th {
    font-weight: bold;
  }

  tr:hover {
    background-color: var(--color6);
  }
}
.tableBtn {
  width: 130px;
  padding: 8px 15px;
  background-color: var(--color4);
  border: none;
  border-radius: 15px;
}
.tableBtn:hover {
  cursor: pointer;
  opacity: 80%;
}
.modalContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  top:0;
  right: -100;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  z-index: 1000;
  overflow: hidden;
}
.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  height: fit-content;
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  overflow-y: auto;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalBtnContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modalBtn {
  width: 60px;
  padding: 8px 15px;
  background-color: var(--color4);
  border: none;
  border-radius: 15px;
}
.modalBtn:hover {
  cursor: pointer;
  opacity: 90%;
}
