.container{
    z-index: 3;
    width: max-content;
    position: relative;

    button:not([aria-label]){
        background-color: var(--color1) !important;
    }
    div[role="gridcell"]:hover{
        &:not(div[aria-selected="true"]){

            div {
                background-color: var(--color1-transparent) !important;
                > span{
                    color:var(--color1) !important;
                    font-weight: 800 !important;
                }
            }
        }
    }  
    div[class*="rs-calendar-table-cell-is-today"]{
        div{
            box-shadow: inset 0 0 0 1px var(--color1) !important;
        }
        
    }
    div[class*="rs-calendar-table-cell-in-range"]{
        
        &:before{
            background-color: var(--color1-transparent) !important;
            
        }
    
    }
    div[aria-selected="true"]{
        div{
            background-color: var(--color1) !important;
        }

        &:hover div {
            > span{
                font-weight: 500;
                color: #fff !important;
            }
        }
    }

    .dateRangePicker {
        z-index: 3;
        div{
            border-color: #c3c3c3 !important;
            background-color: transparent !important;
        }
        button{
            background-color: transparent !important;
        }

        input {
           pointer-events: none; /* Deshabilita la interacción con el input */
           user-select: none; /* Evita la selección de texto */
           background-color: transparent; /* Hace que el input sea transparente */
           border: none; /* Elimina el borde */
         }
    }
    .dateRangePickerSubtle{
        div{
            border: none !important;
            background-color: transparent!important;

        }
        button{
            background-color: transparent!important;
        }
        input {
           pointer-events: none; /* Deshabilita la interacción con el input */
           user-select: none; /* Evita la selección de texto */
           background-color: transparent; /* Hace que el input sea transparente */
           border: none; /* Elimina el borde */
         }
    }
}
