.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;    

    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        justify-content: center;
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
        
        .cardSkeleton{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: white;
            width: 450px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            padding-bottom: 1rem;
            .img{
                width: 100%;
                aspect-ratio: 4/3;
                border-radius: 20px 20px 0 0;
                background-color: rgb(180, 180, 180);
                animation: skeleton 0.5s infinite alternate;
            }
            .title{
                background-color: rgb(180, 180, 180);
                border-radius: 5px;
                width: 80%;
                height: 1.8rem;
                margin-left: 1rem;
                animation: skeleton 0.5s infinite alternate;
            }
            .price{
                background-color: rgb(180, 180, 180);
                border-radius: 5px;
                width: 40%;
                height: 1.8rem;
                margin-left: 1rem;
                animation: skeleton 0.5s infinite alternate;
            }
        }
    }



    .pagination {
        display: flex;
        list-style: none; 
        padding: 0;
        margin-top: 20px;
    }
    
    .pageItem {
        margin: 0 5px; 
        cursor: pointer;
        padding: .5rem 1rem; 
        border: 1px solid var(--color1); 
        border-radius: .8rem;

        &:hover{
            background-color: var(--color1);
            color: var(--color3);
            opacity: 0.8;
        }
    }
    
    .activePage {
        background-color: var(--color1); 
        color: var(--color3);
        border-color: var(--color1);
    }
    
    .previousButton,
    .nextButton {
        cursor: pointer;
        padding: .5rem 1rem; 
        border: 1px solid var(--color1); 
        border-radius: .8rem;
        
        
        &:hover{
            background-color: var(--color1);
            color: var(--color3);
            opacity: 0.8;
        }
    }
    
    .disabledButton {
        opacity: 0.5;
        cursor: default;

        &:hover{
            background-color: transparent;
            color: inherit;
            opacity: 0.5;
        }
    }
}
@keyframes skeleton {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .container{
        .cardsContainer{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    }
}