.header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--headerHeight);
}

.headerUser {
  background-color: var(--color1);
}
.headerAdmin {
  background-color: var(--color4);
}
.userIcon {
  margin-right: 30px;
}
.userIcon:hover {
  cursor: pointer;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.slogan {
  padding: 40px 5px;
  color: #ffffff;
}

.whitelogo {
  max-width: 100px;
  height: auto;
  display: block;
}

.authButton {
  margin-left: 20px;
}
.authLinksHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}

.authLinksHeader a {
  background-color: #dda15e;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.authLinksHeader a:hover {
  background-color: #d67607;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 10px 5%;
    text-align: center;
    height: 135px;
  }
  .slogan {
    display: none;
  }
}
