.header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--headerHeight);
}

.headerUser {
  background-color: var(--color1);
}
.headerAdmin {
  background-color: var(--color4);
}
.userIcon {
  margin-right: 30px;
}
.userIcon:hover {
  cursor: pointer;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.slogan {
  padding: 40px 5px;
  color: #ffffff;
}

.whitelogo {
  max-width: 100px;
  height: auto;
  display: block;
}

.authButton {
  margin-left: 20px;
}
.authLinksHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}

.authLinksHeader a {
  background-color: #dda15e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.authLinksHeader a:hover {
  background-color: #d67607;
}

.buttonMobile{
  display:none;
}

.mobileMenu{
  display:none;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 10px 5%;
    text-align: center;
    height: var(--headerHeightMobile);
  }

  .slogan {
    display: none;
  }

  .authButton {
    display: none;
  }

  .menuMobile {
    display: none;
  }

  .menuMobile {
    display: block;
  }

  .authLinksHeader > .hidden {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: #222;
    border-left: 3px solid #f4a261;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .mobileMenu.active {
    right: 0;
  }

  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .mobileMenu ul {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 0;
    width: 100%;
  }

  .mobileMenu li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .mobileMenu a {
    color: #ffffff;
    background-color: #dda15e;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 15px;
    display: block;
    width: 80%;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .mobileMenu a:hover {
    background-color: #d67607;
    transform: scale(1.05);
  }

  .buttonMobile {
    display: block;
    background-color: #dda15e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .buttonMobile:hover {
    background-color: #d67607;
    transform: scale(1.05);
  }
}
